<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="navbar">
        <h1 id="heading">USER MANAGEMENT SYSTEM</h1>
    </div>


    <div class="homepage">
    <h2 id="totalUser">The Total No Users are : <%=count%></h2>
    <form method="get" action="/user">
        <button id="allUser">view all Users</button>
    </form>
    <form method="get" action="/user/new">
        <button id="join">Join Us Today!</button>
    </form>
</div>
   
</body>
</html>