<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new user</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="navbar">
        <h1 id="heading">JOIN US TODAY</h1> 
        <form method="get" action="/">
            <button id="allUser">HOME</button>
        </form>
    </div>
    <div class="form">
    <form action="/user/new" method="post">
        <input class="input" type="text" name="username" placeholder="Enter your username"><br> <br>
        <input class="input" type="email" name="email" placeholder="Enter your email"><br> <br>
        <input class="input" type="password" name="password" placeholder="Enter your password"><br> <br>
        <button id="allUser">add !</button>

    </form>
    </div>
</body>
</html>